resources:
- type: gcp-types/storage-v1:buckets
  name: {{ properties['bucketName'] }}
  properties:
    predefinedAcl: projectPrivate
    projection: full
    location: {{ properties["location"] }}
    storageClass: STANDARD
outputs:
  - name: bucketName
    value: $(ref.{{ properties['bucketName'] }}.name)
