{% set CLOUD_FUNCTION_BUCKET = "cf-bucket-" + env["project"]  %}

imports:
  - path: cloud-function.py
  - path: logsink.py
  - path: logsink.jinja
  - path: function/main.py
  - path: function/requirements.txt

resources:
  - name: {{ env['deployment'] }}-scratch-financial-cf
    type: cloud-function.py
    properties:
      codeLocation: function/
      codeBucket: {{ CLOUD_FUNCTION_BUCKET }}
      codeBucketObject: function.zip
      location: "us-central1"
      timeout: "60s"
      runtime: "python37"
      availableMemoryMb: 256
      entryPoint: "main"
      ingressSettings: ALLOW_ALL
      webhookUrl: {{ properties["webhookUrl"] }}
  - name: pubsub-vmstatus-sink
    type: logsink.jinja
    properties:
      pushEndpoint: "$(ref.{{ env['deployment'] }}-scratch-financial-cf.httpsTrigger-url)"
    metadata:
      dependsOn:
        - $(ref.{{ env['deployment'] }}-scratch-financial-cf.resources)
