imports:
  - path: pubsub-topic.py
  - path: logsink.py

resources:
  - name: {{ env['deployment'] }}-vmstatus-pubsub
    type: pubsub-topic.py
    properties:
      topic: {{ env['deployment'] }}-vmstatus-topic
      accessControl:
        - role: roles/pubsub.publisher
          members:
            - "$(ref.{{ env['deployment'] }}-vmstatus-sink.writerIdentity)"
            - "$(ref.{{ env['deployment'] }}-appstatus-sink.writerIdentity)"
      subscriptions:
        - name: {{ env['deployment'] }}-vmstatus-subscription
          pushEndpoint: {{ properties['pushEndpoint'] }}
      
  - name: {{ env['deployment'] }}-vmstatus-sink
    type: logsink.py
    properties:
      projectId: {{ env['project'] }}
      destinationName: {{ env['deployment'] }}-vmstatus-topic
      filter: resource.type="gce_instance" AND logName="projects/{{ env['project'] }}/logs/compute.googleapis.com%2Factivity_log" AND jsonPayload.event_subtype="compute.instances.insert" AND jsonPayload.event_type="GCE_OPERATION_DONE"
      destinationType: pubsub
      uniqueWriterIdentity: true
  - name: {{ env['deployment'] }}-appstatus-sink
    type: logsink.py
    properties:
      projectId: {{ env['project'] }}
      destinationName: {{ env['deployment'] }}-vmstatus-topic
      filter: resource.type="gce_instance" AND textPayload="Application server is now listening at http://127.0.0.1:8080/"
      destinationType: pubsub
      uniqueWriterIdentity: true
outputs:
  - name: writerIdentity
    value: $(ref.{{ env['deployment'] }}-vmstatus-sink.writerIdentity)