{% set CLOUD_FUNCTION_BUCKET = "cf-bucket-" + env["project"]  %}

imports:
  - path: cf-bucket.jinja
  - path: service-account.jinja

resources:
  - name: default-allow-http
    type: compute.v1.firewall
    properties:
      targetTags: ["http-server"]
      sourceRanges: ["0.0.0.0/0"]
      allowed:
        - IPProtocol: TCP
          ports: ["3333"]
  - name: scratch-financial-sa
    type: service-account.jinja
  - name: cf-bucket
    type: cf-bucket.jinja
    properties:
      location: us-west2
      bucketName: {{ CLOUD_FUNCTION_BUCKET }}