{% set ZONE = "us-west2-a"  %}
{% set SERVICE_ACCOUNT_EMAIL = properties['serviceAccountDeploymentName']+"@"+env['project']+".iam.gserviceaccount.com" %}

resources:
  - name: {{ env['deployment'] }}
    type: compute.v1.instance
    properties:
      zone: {{ ZONE }}
      machineType: zones/{{ ZONE }}/machineTypes/n1-standard-1
      tags:
        items: ["http-server"]
      disks:
        - deviceName: boot
          type: PERSISTENT
          boot: true
          autoDelete: true
          initializeParams:
            sourceImage: projects/gce-uefi-images/global/images/family/ubuntu-1804-lts
      networkInterfaces:
        - network: projects/{{ env['project'] }}/global/networks/default
          accessConfigs:
            - name: External NAT
              type: ONE_TO_ONE_NAT
      serviceAccounts:
        - email: "{{ SERVICE_ACCOUNT_EMAIL }}"
          scopes:
            - https://www.googleapis.com/auth/cloud-platform
      metadata:
        items:
          - key: startup-script
            value: |
              #!/bin/bash
              echo "============= RUNNING STARTUP SCRIPT ============="
              
              echo "============= INSTALLING CURL ============="
              apt-get update
              apt-get install curl -y
              echo "============= COMPLETED: INSTALLING CURL ============="

              echo "============= DOWNLOADING AND RUNNING CUSTOM HARDENING SCRIPT ============="
              curl "https://storage.googleapis.com/scratchpay-com-assets/challenges/hardening-dummy.sh" | sudo tee custom-hardening.sh
              ./custom-hardening.sh
              echo "============= COMPLETED: DOWNLOADING AND RUNNING CUSTOM HARDENING SCRIPT ============="

              echo "============= INSTALLING AND STARTING NGINX SERVICE ============="
              apt-get update
              apt-get install nginx -y
              service nginx start
              echo "============= COMPLETED: INSTALLING AND STARTING NGINX SERVICE ============="

              echo "============= CONFIGURING NGINX SERVICE ============="
              rm /etc/nginx/sites-available/*
              rm /etc/nginx/sites-enabled/*
              echo "server {
                  listen 3333 default_server;
                  listen [::]:3333 default_server;
                  server_name exampleapp;
                  location / {
                      proxy_pass "http://127.0.0.1:8080";
                  }
              }" | sudo tee /etc/nginx/sites-available/scratch-application
              ln -s /etc/nginx/sites-available/scratch-application /etc/nginx/sites-enabled/scratch-application
              echo "============= COMPLETED: CONFIGURING NGINX SERVICE ============="

              echo "============= RESTARTING NGINX SERVICE ============="
              service nginx restart
              echo "============= COMPLETED: RESTARTING NGINX SERVICE ============="

              echo "============= INSTALLING AND STARTING STACKDRIVER MONITORING AND LOGGIN SERVICE ============="
              curl -sSO https://dl.google.com/cloudagents/install-monitoring-agent.sh
              bash install-monitoring-agent.sh
              curl -sSO https://dl.google.com/cloudagents/install-logging-agent.sh
              bash install-logging-agent.sh --structured
              echo "============= COMPLETED: INSTALLING AND STARTING STACKDRIVER MONITORING AND LOGGIN SERVICE ============="

              echo "============= INSTALLING NODEJS AND PM2 ============="
              curl -sL https://deb.nodesource.com/setup_12.x | sudo -E bash -
              apt-get install nodejs -y
              npm install -g pm2
              echo "============= COMPLETED: INSTALLING NODEJS AND PM2 ============="

              echo "============= STARTING NODEJS APPLICATION ============="              
              mkdir ~/app
              cd ~/app

              echo "var http = require('http');
                const port = 8080;

                http
                  .createServer(function(req, res) {
                    res.writeHead(200, { 'Content-Type': 'text/plain' });
                    res.end('Hello World');
                  })
                  .listen(port, '127.0.0.1');
                console.log('Application server is now listening at http://127.0.0.1:'+port+'/');
              " | sudo tee ~/app/app.js;
              pm2 start app.js -l /var/log/exampleapp/exampleapp.log
              echo "============= COMPLETED: STARTING NODEJS APPLICATION ============="              

              echo "============= CONFIGURING STACKDRIVER LOGGING OF APPLICATION LOGS ============="
              echo "<source>
                  @type tail
                  # Format 'none' indicates the log is unstructured (text).
                  format none
                  # The path of the log file.
                  path /var/log/exampleapp/exampleapp.log
                  # The path of the position file that records where in the log file
                  # we have processed already. This is useful when the agent
                  # restarts.
                  pos_file /var/lib/google-fluentd/pos/exampleapp.pos
                  read_from_head true
                  # The log tag for this log input.
                  tag exampleapp-log
              </source>" | sudo tee /etc/google-fluentd/config.d/exampleapp-log.conf
              echo "============= COMPLETED: CONFIGURING STACKDRIVER LOGGING OF APPLICATION LOGS ============="
              
              echo "============= CONFIGURING STACKDRIVER LOGGING OF APPLICATION LOGS ============="
              service google-fluentd restart
              echo "============= COMPLETED: CONFIGURING STACKDRIVER LOGGING OF APPLICATION LOGS ============="
              
              echo "============= COMPLETED: RUNNING STARTUP SCRIPT ============="
