{% set SERVICE_ACCOUNT_NAME = env['deployment'] %}
resources:
  - name: {{ SERVICE_ACCOUNT_NAME }}
    type: iam.v1.serviceAccount
    properties:
      accountId: {{ SERVICE_ACCOUNT_NAME }}
      displayName: {{ SERVICE_ACCOUNT_NAME }}
  - name: {{SERVICE_ACCOUNT_NAME}}-get-iam-policy
    action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
    properties:
      resource: {{ env['project'] }}
    metadata:
      runtimePolicy:
        - "UPDATE_ALWAYS"
      dependsOn:
        - {{ SERVICE_ACCOUNT_NAME }}
  - name: {{ SERVICE_ACCOUNT_NAME }}-patch-iam-policy
    action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
    properties:
      resource: {{ env['project'] }}
      policy: $(ref.{{ SERVICE_ACCOUNT_NAME }}-get-iam-policy)
      gcpIamPolicyPatch:
        add:
          - role: roles/monitoring.metricWriter
            members:
              - serviceAccount:$(ref.{{ SERVICE_ACCOUNT_NAME }}.email)
          - role: roles/logging.logWriter
            members:
              - serviceAccount:$(ref.{{ SERVICE_ACCOUNT_NAME }}.email)
    metadata:
      dependsOn:
        - {{ SERVICE_ACCOUNT_NAME }}
        - {{ SERVICE_ACCOUNT_NAME }}-get-iam-policy
outputs:
  - name: email
    value: $(ref.{{SERVICE_ACCOUNT_NAME}}.email)
  - name: patch-iam-policy-bindings
    value: $(ref.{{ SERVICE_ACCOUNT_NAME }}-patch-iam-policy.bindings)
